<style>
        body {
            overflow: hidden;
        }

        .nav-item {
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 10px;
        }

        div#navigation {
            position: sticky;
            top: 0px;
            background-color: lightgreen;
            height: 8vh;

        }

        div.container {
            z-index: 1;
        }

        div#intro {
            /* overflow-y: scroll; */
            height: 100vh;
            z-index: 10;
        }

        div#footer {
            position: fixed;
            bottom: 0px;
            background-color: lightgray;
            width: 100vw;
            z-index: -1;

        }

        div#model {
            background-color: black;
            width: 100vw;
            height: 100vh;
            z-index: 20;
            opacity: 0.5;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: 10;
        }

        div#box {
            width: 200px;
            height: 100px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
        }
    </style>